<div class="container main">
  <div class="container-dashboard">
    <div class="welcome dashboard-card">
      <h1>Welcome back, <%= current_user.name %>! 👩🏽‍🎨</h1>
      <hr>
    </div>
      <div class="card-overview-dashboard" >
        <div class="dashboard-card">
          <h4> Artifacts</h4>
          <hr style = "border: 0.5px solid rgba(255, 0, 0, 0.5)">
          <h4><%= @artifacts.count %></h4>
        </div>
        <div class="dashboard-card">
          <h4> Offers </h4>
          <hr style = "border: 0.5px solid rgba(255, 0, 0, 0.5)">
          <h4><%= @incoming_bids.count %></h4>
        </div>
        <div class="dashboard-card">
          <h4> Bids</h4>
          <hr style = "border: 0.5px solid rgba(255, 0, 0, 0.5)">
          <h4><%= @outgoing_bids.count %></h4>
        </div>
      </div>
  </div>

<div class="bid-overview-card">
  <h4>Here's a list of all your artifacts:</h4>
  <hr style = "border-bottom: 2px solid rgba(255, 0, 0, 0.5)">

  <% @artifacts.each do |artifact| %>
    <div class="card-product-list-of-artifacts" >
        <% if artifact.photo.attached? %>
          <%= cl_image_tag artifact.photo.key, height: 200, width: 166, crop: :fill %>
        <% else %>
          <%= image_tag("https://images.unsplash.com/photo-1580711465053-6757198851cf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2254&q=80", width: 200, height: 166, crop: :fill) %>
        <% end %>
    <div style="margin-left: 16px; margin-right: 70px">
      <h2><%= artifact.name %></h2>
      <p> Starting value: <%= number_with_delimiter(artifact.starting_value, delimiter: ".") %> €</p>
    </div>
    <div class="card-product-infos">
      <% if artifact.bids.empty? %>
        <p>No bids have been placed on this artifact.</p>
      <% else %>
      <table class="table table-borderless">
          <thead>
            <tr>
              <th>Bid placed</th>
              <th>User name</th>
              <th colspan="3">Accept or reject?</th>
            </tr>
          </thead>
          <tbody>
            <% artifact.bids.each do |bid| %>
              <% if bid.status == nil %>
              <tr>
                <td><%= number_with_delimiter(bid.value, delimiter: ".") %> €</td>
                <td><%= bid.user.name %></td>
                <td>
                  <%= link_to '<i class="far fa-check-square"></i>'.html_safe, accept_bid_path(bid) %>
                </td>
                <td>
                  <%= link_to '<i class="fas fa-times"></i>'.html_safe, reject_bid_path(bid) %>
                </td>
                <td></td>
              </tr>
            <% end %>
             <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>

  <% end %>

</div>

    <div class="bid-overview-card">
    <h4>Here are all the bids you have placed:</h4>
    <hr>
      <table class="table table-borderless">
        <thead>
          <tr>
            <th>Artifact</th>
            <th>Starting value</th>
            <th>Your bid</th>
          </tr>
        </thead>
        <tbody>
          <% @outgoing_bids.each do |bid| %>
            <tr>
              <td><%= bid.artifact.name %> </td>
              <td><%= number_with_delimiter(bid.artifact.starting_value, delimiter: ".") %> €</td>
              <td><%= number_with_delimiter(bid.value, delimiter: ".") %> €</td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
