<div class="container">
  <h1>Here's a list of all our artifacts:</h1>
  <div class="card-grid-artifact">
    <% @artifacts.each do |artifact| %>
      <%= link_to artifact_path(artifact) do %>
      <div class="card-trip">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <div class="card-trip-infos">
          <div>
            <h2> <%= artifact.name %></h2>
            <p>Made by <%= artifact.artist %> in <%= artifact.year %></p>
          </div>
          <h2 class="card-trip-pricing"><%= artifact.starting_value %>€</h2>
          <div class="card-trip-user bid-count"><%= artifact.bids.count %></div>
        </div>
      </div>
    <% end %>
  <% end %>
  </div>
</div>
