<div class="container">
<h1>Here's a list of all our artifacts:</h1>
<%= simple_form_for :search, url: artifacts_path, method: :get do |f| %>
  <div class="search-form-control form-group">
    <input class="form-control string required" type="text" name="search[query]" id="search_query" placeholder="Search art & objects" />
    <button name="button" type="submit" class="btn btn-flat">
      <i class="fas fa-search"></i>
    </button>
  </div>
<% end %>

  <div class="card-grid-artifact">
    <% @artifacts.each do |artifact| %>
      <%= link_to artifact_path(artifact) do %>
      <div class="card-trip">
        <%= cl_image_tag artifact.photo.key, crop: :fill %>
        <div class="card-trip-infos">
          <div>
            <h2> <%= artifact.name %></h2>
            <p>Made by <%= artifact.artist %> in <%= artifact.year %></p>
          </div>
          <h2 class="card-trip-pricing"><%= artifact.starting_value %>€</h2>
          <div class="card-trip-user bid-count"><%= artifact.bids.count %></div>
        </div>
      </div>
    <% end %>
  <% end %>
  </div>
</div>
