<div class="container">
  <%= simple_form_for(@artifact) do |f| %>
      <%= f.input :name %>
      <%= f.input :artist %>
      <%= f.input :year %>
      <%= f.input :description %>
      <%= f.input :starting_value %>
       <%= f.input :photo, as: :file %>
      <%= f.button :submit, class: "btn btn-ghost" %>
    <% end %>

    <%= link_to "Go back", artifacts_path, class: "btn btn-ghost" %>
</div>
