<div class="container">
  <%= cl_image_tag @artifact.photo.key, height: 300, width: 400, crop: :fill %>
  <h1>Details of <%= @artifact.name %></h1>
  <ul>
    <li><%= @artifact.artist  %></li>
    <li><%= @artifact.year  %></li>
    <li><%= @artifact.description  %></li>
    <li><%= @artifact.starting_value  %></li>
  </ul>

<%= link_to "Place a bid", new_artifact_bid_path(@artifact), class: "btn btn-ghost"  %>
<%= link_to "Remove this artifact", artifact_path(@artifact), method: :delete, data: { confirm: "Really?!"}, class: "btn btn-ghost" %>
<%= link_to "Go back", artifacts_path, class: "btn btn-ghost"  %>

</div>
