<!-- This is a global variable - we need to add @ - for us to create an artifact -->
<h1>Details of <%= @artifact.name %></h1>
<ul>
<%= @artifact.artist  %>
<%= @artifact.year  %>
<%= @artifact.description  %>
<%= @artifact.starting_value  %>
</ul>

<%= link_to "Place a bid", new_artifact_bid_path(@artifact)  %>
<%= link_to "Remove this artifact", artifact_path(@artifact), method: :delete, data: { confirm: "Really?!"} %>
<%= link_to "Go back", artifacts_path  %>
